body {
    color:black;
    background-color: white;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid gold
}

.center {
    text-align: center;

}

h1 {
    color:blueviolet;
}

h2{
    color:green
}

h3{
    color:brown
}
